<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title> AngularJS App</title>

		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel='stylesheet' />
		<!-- The main CSS file -->
		<link href="services/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<form id="main" ng-app ng-controller="myservices">
		<h1>Place your Order</h1>

		<ul id="services">
				<!-- The services will be inserted here -->
			<li ng-repeat="service in services">
			<label>
			<input type="checkbox" ng-model="service.selected" value="1" name="{{service.title}}" />
					{{service.title}}<span>${{service.price}}</span></label>
			</li>
		</ul>

			<p id="total">Total price: <span>${{total()}}</span></p>

		<input type="submit" id="order" value="Order"/>
			
		</form>
      
		<!-- The single AngularJS include -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.5/angular.min.js"></script>
	    <script src="services/js/script.js"></script>

	</body>
</html>