*{
    margin:0;
    padding:0;
}
 /*-------------------------
    General Styles
--------------------------*/
html{
	background-color:#efefef;
	height:100%;
	width:99%;
    }
body{
    font-size:15px/1.3;
    color: #000000;
	font-family:Lucida Sans Unicode;
	  }
 a, a:visited {
    outline:none;
    color:#389dc1;
    }
 a:hover{
    text-decoration:none;
    }
 
  section, header, aside{
 
    display: block;
    }
  /*----------------------------
    The main content element
   -----------------------------*/
#main{
    padding:80px;
    background-color:#ff85a4;
    box-shadow:0 0 1px #ccc;
    width:900px;
    margin:100px auto;
    border-radius:4px;
    font:bold 24px/1 'PT Sans', sans-serif;
    color:#6b6b6b;
    }
#main h1{
    font-size:36px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 50px;
    } 
#services{
    list-style:none;
    margin:0 auto;
    width:600px;
    }
#services li{
    background-color: #fbfbfc;
    box-shadow:0 1px 1px #eee;
    font-size:22px;
    color: #85898b;
    margin-bottom:15px;
    border-radius:4px;
    } 
#services li span{
    float:right;
    opacity:0.6;
    }
#services li label{
    display:block;
    cursor:pointer;
    padding:22px 30px;
    }
#services li input[type=checkbox]{
    border:1px solid #ccc;
    box-shadow:1px 1px 1px #ccc;
    margin-right:10px;
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align: middle;
    } 
#total{
    font-size:24px;
    text-align:right;
    width:570px;
    margin:30px auto 0;
    padding-right:30px;
    } 
#total span{
    display:inline-block;
    min-width:70px;
    } 
#order{
    font:inherit;
    font-size:24px;
    cursor:pointer;
    border:none;
    display:block;
    background-color:#89bde5;
    color:#fff;
    text-transform:uppercase;
    width:200px;
    margin:80px auto 0;
    text-align:center;
    padding:22px 0;
    border-radius: 3px;
    box-shadow:0 1px 1px #ddd, 0 0 20px #84b8e0 inset;
    }
#order:hover{
    opacity: 1.5;
    }

